:root{
    --primary-text-color:#FFFFFF;
    --title-text-color:#212121;
    --subtitle-text-color:#757575;
    --link-text-color:#2196F3;
}


ul{
    list-style: none;
}



.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.hero{
    text-align: center;
}


img {
    display: block;
}


/* Хедер */

/* Фон хедера */

.header-nav{
    padding: 0;
    margin: 0;
}

.nav{
    background-color:var(--primary-text-color);
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.section{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid tomato;
    
}



/* Колір логотипу */

.logo-web, .logo-studio{
    color: var(--link-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-studio{
    color: #000000;
}



/* Кольори ссилок хедера */

.header-nav{
    display: flex;
    margin-left: 93px;

}

.main-nav{
    display: flex;
    align-items: center;
    
}

/* .header-nav .item:not(:last-child){
    margin-right: 50px;
} */

.header-nav .item + .item{
    margin-left: 50px;
}


.header-contacts{
    display: flex;
    margin-left: auto;
}

.header-contacts .item + .item{
    margin-left: 50px;
}


.header-nav a{
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    
}

.header-nav a:hover, 
.header-nav a:focus {
    color: var(--link-text-color);
}

.header-nav-mail{
    color: var(--subtitle-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-nav-mail:hover,
.header-nav-mail:focus {
    color: var(--link-text-color);
}


.header-nav-tel{
    color:var(--subtitle-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-nav-tel:hover,
.header-nav-tel:focus {
    color: var(--link-text-color);
}


/* Герой */

/* Заголовки */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;

}


.title-text{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtitle-text{
    color: var(--subtitle-text-color);
    line-height: 1.71;    
}

.title-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* Колір головного заголовку(Ефективні...)*/

.hero-title {
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}


/* Колір заголовків посад команди */
.subtitle-specialty{
    color: var(--subtitle-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


/* Button */

.button{
    color: var(--primary-text-color);
    background-color: var(--link-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    border: 0;
    min-width: 200px;
}



/* Link */

.header-nav .link.current{
    color: var(--link-text-color); 
   
}



/* Футер */

.footer-phone{
    background-color: #2F303A;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}


.logo-studio-white{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.city-adress{
    color: #FFFFFF;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: inline-block;
    padding-bottom: 9px;
    padding-top: 20px;
}



.address-block .link{
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: inline-block;
    padding-bottom: 9px;
}



.address-block a:hover,
.address-block a:focus {
    color: var(--link-text-color);
}




/* Портфоліо */

.button-portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: 0;

}


.button-portfolio:hover,
.button-portfolio:focus{
    color: var(--primary-text-color);
    background: var(--link-text-color);
}


.work-list .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
}

.work-list .subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.work-list{
    margin-top: 34px;
}


.work-list li{
    margin-bottom: 30px;
}
